form
{
  padding: 50px 30px;
}

.form-group
{
  width: 500px;
  margin: auto;
}

.btn
{
  width: 150px;
  margin-left: 175px;
}

.topnav
{
  display: inline-flex;
  padding: 50px 20px 0px 100px;
}

.link
{
  /* height: 40px; */
  text-decoration: none;
  background-color: orange;
  margin-right: 10px;
  padding: 10px;
  padding-right: 30px;
  padding-left: 20px;
  color: #fff;
  border-radius: 2px 60% 60% 2px;
}

.content
{
  padding: 50px;
}

.random-generated-table
{
  color: #000;
  margin: auto;
}

.random-generated-table th
{
  text-align: center;
}

.downloadlink
{
  text-align: center;
  padding: 20px;
}

.inputdata
{
  display: inline-flex;
}

.th
{
  width: auto;
}


input[type="number"]
{
  max-width: 360px;
  margin-left: 20px;
  height: 40px;
}

.displayselectcheckbox
{
  display: inline-flex;
  margin: 10px;
}

.table-scroll {
	position:relative;
	max-width:90%;
	margin:auto;
	overflow:hidden;
	border:1px solid #000;
}
.table-responsive-sm {
	width:100%;
	overflow:auto;
}
.table-scroll table {
	width:100%;
	margin:auto;
	border-collapse:separate;
	border-spacing:0;
}

.table-scroll th, .table-scroll td {
	padding:5px 10px;
	border:1px solid #000;
	background:#fff;
	white-space:nowrap;
	vertical-align:top;
}
table th {
  padding: 0.5rem 1rem;
}
table thead th {
  padding: 3px;
  position: sticky;
  top: 0;
  z-index: 1;
  /* width: 125px; */
  background: white;
}
table td {
  background: #fff;
  padding: 4px 5px;
  text-align: center;
}
table thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
}

table tbody th {
  position: sticky;
  left: 0;
  background: white;
  z-index: 1;
}

table tbody td:first-child {
  position: sticky;
  left: 0;
  background: white;
  z-index: 1;
  font-weight: bold;
}

.data
{
  min-width: 120px;
}

.data p
{
  margin-top: -25px;
  margin-left: 25px;
  margin-right: 10px;
}

input[type="checkbox"]
{
  transform : scale(1.5);
}